/* #map {
  border-radius: 20px;
  border: 4px solid lightcoral;
  margin: 0% 5%;  
} */

.map-container {
  display: flex;  
  justify-content: center;
}

.leaflet-appearance {
  height: 200px;
  width: 200px;
}
.leaflet-container {
  width: 100vw;
  height: 100vh;
  border-radius: 20px;
  border: 4px solid lightcoral;
  /* margin: 0% 5%;  */
  z-index: 0;
}

.leaflet-popup-content-wrapper {
  border: 4px solid lightcoral;
  max-width: 250px;
  max-height: 350px;    
}

.carousel-slide {
  border: 4px solid lightcoral;  
}

.leaflet-popup-content {  
  
}
/* #info-window {


.truck-card {  
  color: #333;  
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  position: relative;
  max-width: 150px;
  max-height: 150px;    
} 
.truck-card:hover {
  transform: rotate(3deg);
}
.truck-card h3 {
  color: #333;
  margin-bottom: 6px;
}
.truck-card p {
  color: #999;
  font-size: 0.9em;
} */
