/* #map {
  border-radius: 20px;
  border: 4px solid lightcoral;
  margin: 0% 5%;  
} */

.map-container {
  display: flex;  
  justify-content: center;
}

.leaflet-appearance {
  height: 200px;
  width: 200px;
}
.leaflet-container {
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.leaflet-popup-content-wrapper {  
  max-width: 250px;
  max-height: 350px;   
}

.carousel-slide {
  
}

.leaflet-popup-content {  
  
}
