.nav-container {
  display: flex;
  /* background-color: rgb(47, 189, 170); */
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  justify-content: space-between; 
  align-items: center;  
  padding: 20px;
  /* margin-bottom: 20px;   */
}
.nav-title {
  align-self: center;    
}
.nav-items {
  display: flex;   
}
.nav-items > div {
  padding: 10px;
  margin: 10px;
  border: 2px solid whitesmoke;  
}
