.schedule {
  display: flex;
  justify-content: center;  
}

.MuiPagination-ul {
  /* color: white; */
}

.schedule .MuiPagination-root {
  color: white;
  background-color: rgba(255, 255, 255, 0.356);
  border-radius: 15px;
}

.schedule .MuiPagination-root.Mui-selected {
  background-color: white;
}

.schedule .MuiPaginationItem-root {
  background-color: white;
}