.schedule-container {
  display: flex; 
  position: absolute;
  z-index: 10;
  margin-top: 1%;
  /* background-color: rgb(47, 189, 170); */

  color: white;
  background-color: rgba(255, 255, 255, 0.356);
  border: 1px solid white;
  border-radius: 15px;
}

.schedule {
  /* align-self: center;      */
  /* background-color: red; */
}

.MuiPagination-ul {
  /* color: white; */
  
}

.schedule .MuiPagination-root {
  color: white;
  background-color: rgba(255, 255, 255, 0.356);
  border-radius: 15px;
  
}
.MuiPagination-root {
  border: 2px solid;  
  padding: 5px;  
}

.week-day {
  font-size: 3em;
  font-weight: 700;
  /* background-color: aqua; */
  color: rgb(0, 0, 0);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
}

.schedule .MuiPagination-root.Mui-selected {
  /* background-color: white; */
  
}

.schedule .MuiPaginationItem-root {
  background-color: rgba(9, 0, 128, 0.322);
}