/* The side navigation menu */
.side-nav-container {
  z-index: 15;  
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 30px;
  font-weight: 700; 
  position: fixed;
  z-index: 2;
  top: 20%;
  right: 2%;
  font-family: 'Josefin Sans', sans-serif;
  
  background-color: rgba(255, 255, 255, 0.356);
  border: 1px solid white;
  border-radius: 15px;  
}
.filter-wrapper:hover {
  color: #504f4f;
  cursor: pointer;  
}
.arrow {
  animation: updown 3s ease infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-15%);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(-15%);
  }
}

.side-nav-icons {
  height: 80%; 
  width: 0; 
  position: fixed; 
  z-index: 2;
  top: 35%; 
  right: 4%; 
  overflow-x: hidden; 
  /* padding-top: 60px;  */
  transition: 0.5s;
  /* background-color: #5c5b5b;  */
}

.side-nav-icons div {
  padding: 0px 0px 5px 15px;
  text-decoration: none;
  font-size: 45px;
  color: black;
  /* display: block; */
  transition: 0.3s;
  animation: wiggle 2.5s infinite;
}

.side-nav-icons div:hover {
  color: #d36d0e;
}
@keyframes wiggle {
  0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(10deg); }
   95% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.close-btn {
  font-size: 50px;  
  color: black;
  animation: none;
  padding: 0px 10px 10px;
  margin: 0px;

  background-color: rgba(255, 255, 255, 0.356);
  border: 1px solid white;
  border-radius: 15px; 
}

.close-btn:hover {
  color: #504f4f;
  cursor: pointer;
}




