.registration-container {
  display: flex;
  justify-content: flex-end; 
}
.registration-title {
  font-size: 3em;
  font-family: 'Josefin Sans', sans-serif;
  margin: 20px 20px 40px;
  color: black;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.356);
  border: 1px solid white;
  border-radius: 15px; 
}
#signup-map {
  display: flex;
  justify-content: center;
  width: 75vm; 
  height: 81vh;  
}
.signup-schedule {
  position: absolute;
  z-index: 500;
  margin-top: 20px;
  margin-right: 1150px;
  color: white;
  background-color: rgba(255, 255, 255, 0.356);
  border: 1px solid white;
  border-radius: 15px;
}
/* Schedule Component */
.MuiPagination-root {
  color: white;
  background-color: rgba(255, 255, 255, 0.356);
  border-radius: 15px;
}
.week-day {
  font-size: 2.5em;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.signup-truck-container {
  width: 70%;
  display: flex;
  justify-content: center;
}

/* SignupATruck */
.registration-form {
  display: flex;
  flex-direction: column;  
  align-items: center;   
}
.name-of-truck {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 50px;
  font-size: 1.5em;
  color: black;
}
#truck-input {
  font-family: 'Permanent Marker', cursive;
}
.text {
  color: rgb(5, 5, 5);
  font-size: 1.8em;  
}

/* Drop Down */
#input-label {  
  color: black; 
  font-size: 100px;
  width: 200px;  
}
#info-items {  
  color: white; 
  width: 450px; 
  font-size: 1.5em;  
}

/* Table */
.table-container {
  background-color: rgba(56, 252, 89, 0.226);
  border: 1px solid white;
  border-radius: 15px; 
  padding: 15px;
  width: 500px;
  margin: 30px 0px;
}
table, tr, thead, td{  
  border-radius: 5px;
  padding: 5px;
  color: black;
  padding: 5px;  
}
th {
  font-size: 1.2em;
  width: 200px;
}
.signup-btn .MuiButton-root {
  background-color:rgb(46, 79, 228);
}
.day {
  font-weight: 500;    
}

.day-selected {
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.527);
  border-radius: 5px;
}