.registration-container {
  display: flex;
  justify-content: flex-end; 
}
#signup-map {
  display: flex;
  justify-content: center;
  width: 75vm; 
  height: 81vh;  
}
.signup-schedule {
  position: absolute;
  z-index: 500;
  margin-top: 20px;
  margin-right: 1150px;
  color: white;
  background-color: rgba(255, 255, 255, 0.356);
  border: 1px solid white;
  border-radius: 15px;
}
/* Schedule Component */
.MuiPagination-root {  
  /* background-color: rgba(119, 230, 245, 0.622);
  padding: 10px;
  border-radius: 5px;  */
  
  color: white;
  background-color: rgba(255, 255, 255, 0.356);
  border-radius: 15px;
}

.MuiPagination-root.Mui-selected {
  /* background-color: white;   */
}

.MuiPaginationItem-root {
  /* background-color: white; */
}
.week-day {
  font-size: 2.5em;
  font-weight: 700;
  /* background-color: aqua; */
  color: rgb(0, 0, 0);
}
.signup-truck-container {
  width: 70%;
  display: flex;
  justify-content: center;
}

/* SignupATruck */
.registration-form {
  display: flex;
  flex-direction: column;    
  width: 50%;
  align-items: center;
  /* border: 2px solid green; */
  margin-right: 5%;  
}
.registration-components {
  width: 100%;
  font-size: 3em;
  font-family: 'Josefin Sans', sans-serif; 
  margin: 20px 20px 40px; 
}
.name-of-truck {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 50px;
  font-size: 2em;
  color: black;
}
#truck-input {
  font-family: 'Permanent Marker', cursive;
  padding: 10px;
}
.text {
  color: rgb(5, 5, 5);
  font-size: 1.5em;
}

/* Drop Down */
.dropdown-container {
  display: flex;
}

#input-label {  
  color: white; 
  font-size: 100px;
  width: 200px;  
}

#input-options {  
  color: white;
  font-size: 100px; 
  width: 500px;
}


/* #info-items {  
  color: white; 
  width: 200px;  
} */ 

table, tr, thead, td{
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: ;
  padding: 5px;
  color: black;
  background-color: whitesmoke;  
}

.signup-btn .MuiButton-root {
  background-color:rgb(46, 79, 228);
}