.App {
  background-color: #282c34;
  text-align: center;
  color: whitesmoke;  
}

a, .link{
  color: whitesmoke;
  text-decoration: none;
}

a:hover, .link:hover {
  color:coral;
  cursor: pointer;
}