.App {
  background-color: #eba755;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  text-align: center;
  color: whitesmoke;
  /* height: 100vh;   */
}

a, .link{
  color: whitesmoke;
  text-decoration: none;
}

a:hover, .link:hover {
  color:coral;
  cursor: pointer;
}